autom4te.cache/
m4/
src/.deps/
src/Makefile
src/Makefile.in
tests/.deps/
tests/Makefile
tests/Makefile.in
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
test-driver
src/main.o
src/.libs/
src/hash.lo
src/hash.o
src/libex.la
.vscode
src/ex.o
src/ex.lo
tests/test-suite.log
tests/test.exe
tests/test.log
tests/test.trs
tests/tests.o
tests/ex.o
tests/hash.o
tests/.libs/